/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c9c6c6;
  --foreground: #2a2929;
  --primary: #1e90ff; 
  --secondary: #6c757d; 
  --accent: #ff9c42; 
  
  /* Tonalità intermedie di grigio */
  --gray-light: #d3d3d3; 
  --gray-dark: #7a7a7a; 
  
  /* Errore */
  --bg-error: #f1b3b9;
  --text-error: #d32f2f;

  /* Modale */
  --bg-modal: #c9c6c6a4;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2929;
    --foreground: #c9c6c6;
    --primary: #1e90ff; 
    --secondary: #6c757d; 
    --accent: #ff7f32; 

    /* Tonalità di grigio per tema scuro */
    --gray-light: #b3b3b3;  
    --gray-dark: #615f5f; 

    /* Errore */
    --bg-error: #f1b3b9;
    --text-error: #d32f2f;

    /* Modale */
    --bg-modal: rgba(26, 26, 26, 0.5);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;

}


/* Personalizzazione dei bottoni */
.btn-primary {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--accent); /* Hover con colore accent */
}

.btn-secondary {
  background-color: rgb(19, 164, 19);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: var(--accent); /* Hover con colore accent */
}

.btn-danger {
  background-color: #d32f2f;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: var(--accent);
}

.paging-number-btn {
  @apply w-11 h-11 flex items-center justify-center rounded-full font-semibold bg-primary text-white
}

.paging-number-btn-inactive {
  @apply w-11 h-11 flex items-center justify-center rounded-full text-sm font-semibold bg-gray-200 text-gray-600 hover:bg-gray-400
}

/* Modale di caricamento */
.loader {
  @apply animate-spin rounded-full border-4 border-t-4 border-foreground border-t-primary w-16 h-16 mb-4;
}

 /* Esempio per gli sfondi e le scritte secondarie */
.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-gray-dark {
  background-color: var(--gray-dark);
}

.text-gray-light {
  color: var(--gray-light);
}

.text-gray-dark {
  color: var(--gray-dark);
}

